.header2{
    background-color:rgb(33, 32, 32);
    border-radius: 20px;
    margin-top: 30px;
    padding-bottom: 50px;
}
.but{
    border-radius:10px;
    background-color:rgb(227, 253, 227);
    font-size:20px;
    padding: 10px;
    margin: 10px;
    text-align:center;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: background-color 1s,box-shadow .5s;
}
.but:hover{
    background-color:rgb(7, 242, 250);
    box-shadow: rgb(139, 250, 259) 1px 2px 30px;
}